# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE and Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs and databases
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
.DS_Store?
._*

# Temporary files
tmp/
temp/
